from intellect.testing.subModule.ClassB import ClassB
import intellect.testing.Test as Test
import logging

fruits_of_interest = ["apple", "grape", "mellon", "pear"]
count = 5

rule rule_a:
	agenda-group test_a
	when:
		$classB := ClassB( property1 in fruits_of_interest and property2>count ) 
	then:
		# mark the 'ClassB' matches in memory as modified
		modify $classB:
			property1 = $classB.property1 + " pie"
			modified = True
			# increment the matche's 'property2' value by 1000
			property2 = $classB.property2 + 1000
		attribute count = $classB.property2
		print "count = {0}".format( count )
		# call MyIntellect's bar method as it is decorated as callable
		bar()
		log(logging.DEBUG, "rule_a fired")

rule rule_b:
	agenda-group test_a
	then:
		print "count = {0}".format( count )
		insert ClassB("water melon")
		# call MyIntellect's bar method as it is decorated as callable
		bar()
		log(logging.DEBUG, "rule_b fired")

rule rule_c:
	# on the MAIN agenda-group
	then:
		log(logging.DEBUG, "rule_c fired")

rule rule_d:
	agenda-group test_a
	then:
		attribute foo = "foo bar"
