i = 0

rule rule_e:
	agenda-group "1"
	then:
		attribute i = i + 1
		print i

rule rule_f:
	agenda-group "2"
	then:
		attribute i = i + 1
		print i

rule rule_g:
	agenda-group "3"
	then:
		attribute i = i + 1
		print i

rule rule_h:
	agenda-group "4"
	then:
		# the 'i' variable is scoped to then portion of the rule
		i = 0
		print i

rule rule_i:
	agenda-group "5"
	then:
		attribute i += 1
		print i
		# the 'i' variable is scoped to then portion of the rule
		i = 0

rule rule_j:
	agenda-group "6"
	then:
		attribute i += 1
		print i
