import logging

first_sum = 0
second_sum = 0

rule "set both first_sum and second_sum to 1":
	agenda-group "test_d"
	then:
		attribute (first_sum, second_sum) = (1,1)
		log("first_sum is {0}".format(first_sum), "example", logging.DEBUG)
		log("second_sum is {0}".format(second_sum), "example", logging.DEBUG)

rule "add 2":
	agenda-group "test_d"
	then:
		attribute first_sum += 2
		attribute second_sum += 2
		log("first_sum is {0}".format(first_sum), "example", logging.DEBUG)
		log("second_sum is {0}".format(second_sum), "example", logging.DEBUG)

rule "add 3":
	agenda-group "test_d"
	then:
		attribute first_sum += 3
		attribute second_sum += 3
		log("first_sum is {0}".format(first_sum), "example", logging.DEBUG)
		log("second_sum is {0}".format(second_sum), "example", logging.DEBUG)

rule "add 4":
	agenda-group "test_d"
	then:
		attribute first_sum += 4
		attribute second_sum += 4
		log("first_sum is {0}".format(first_sum), "example", logging.DEBUG)
		log("second_sum is {0}".format(second_sum), "example", logging.DEBUG)
		halt

rule "should never get here":
	agenda-group "test_d"
	then:
		log("Then how did I get here?", "example", logging.DEBUG)
