The limerick* packs laughs anatomical                   *(pronounced "lim'rick" to preserve meter)
In space that is quite economical,
    But the good ones I've seen
    So seldom are clean,
And the clean ones so seldom are comical.